tyre-wear-thermals {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    padding: 2px;
}

tyre-wear-thermals canvas {
    display: block;
    width: 100%;
    height: 100%;
}